<template>
  <v-app>
    <MainNav/>
    <v-container>
      <Nuxt/>
    </v-container>
    
  </v-app>
</template>

<script>
import MainNav from "@/components/MainNav"
export default {
  components:{MainNav},
  data () {
    return {
      
    }
  }
}
</script>
