<template>
    <v-row>
        <v-col cols="12" md="6">
            <h1 class="display-2 text-right">Titulo de Juan</h1>
            <p class="text-justify font-weight-black">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis pariatur obcaecati dignissimos voluptatibus numquam sed beatae eligendi asperiores quod maxime a, voluptate architecto aliquid nobis accusantium ratione. Voluptatibus, officiis necessitatibus?
            </p>
            <v-btn color="primary">Primary</v-btn>
            <modal></modal>
        </v-col>
        
    </v-row>
</template>

<script>
import Modal from '../components/modal'
export default {
    components:{Modal}
}
</script>
