<template>
    <v-container>
        <v-row>
            <v-col cols="12">
                <v-data-table 
                :headers="headers" :items="posts">
                
                </v-data-table>
            </v-col>
        </v-row>
    </v-container>
    
</template>

<script>
export default {
    data(){
        return{
            headers:[
                {text:'Item #',value:'numero id'},
                {text:'Titulo',value:'Titulos'},
                {text:'Cuerpo',value:'body'}
            ],
            posts:[]
        }
    },
    created(){
        this.posts =[
            {id:1,title:'Post1',body:'pruebas de posts'},
            {id:2,title:'Post2',body:'pruebas de posts2'},
            {id:3,title:'Post3',body:'pruebas de posts3'}
        ]
    }
}
</script>